* {
    margin: 0%;
    margin: auto;
    max-width: 1200px;
}

h1, h2, h3, p, a, button {
    font-family: 'Abel', Verdana, Geneva, Tahoma, sans-serif;
}

.hero-image  {
    height: 490px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0px;
}

main div {
    position: relative;
}

main .main-index h1 {
    width: 30px;
    margin-left: 30px;
    bottom: 300px;
    position: absolute;
}

header {
    background-color: #F4F4F4;
    border: 1px solid rgba(0, 0, 0, 0.55);
}

.header img {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}

header #buggi {
    font-size: 36px;
    position: absolute;
    top: 30px;
    left: 20px;
}

#search {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 36px;
}

nav .hamenu {
    display: none;
}

#hamburger {
    display: none;
}


#hamburger:checked ~ nav .hamenu {
    display: block;
}

nav .hamenu li {
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 2rem;
    margin-left: 20px;
}


nav .hamenu li a {
    text-decoration: none;
    color: black;
    background-color: #F4F4F4;
}

header .hamenu {
    list-style-type: none;
    background-color: #F4F4F4;
}

.black-back {
    background: #262626;
    height: 420px;
    margin: none;
    position: relative;
}

.black-back img {
    width: 175px;
    height: 139px;
    border: 3px solid #000000;
    position: relative;
    box-sizing: border-box;
    top: 39px; 
    left: 7.5%;
}

.black-back h2 {
    color: white;
    margin-top: 55px;
    margin-left: 7.5%;
}

.black-back p {
    margin-top: 25px;
    width: 290px;
    color: white;
    margin-left: 7.5%;
    max-width: 78%;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 160px;
    color: white;
    margin-top: 30px;
}

.black-back button {
    background-color: #9D4B00;
    margin-top: 30px;
    margin-left: 7.5%;
}

.white-back img {
    width: 85%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.white-back h2,
.white-back p {
    margin-top: 20px;
    margin-left: 7.5%;
    max-width: 78%;
}

.white-back button {
    background-color: black;
    margin-left: 7.5%;

}

.visit{
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
    height: 250px;
    position: relative;
}

.visit h2 {
    margin-left: 7.5%;
    margin-top: 20px;
    padding-top: 20px;
}

.visit p {
    float: left;
    display: block;
    padding-top: 10px;
    margin-left: 7.5%;
    width: 43%;
    padding-top: 20px;
}

.visit img {
    display: block;
    float: right;
    width: 23%;
    position: relative;
    margin-right: 7.5%;
    border: 3px solid black;
}
 .visit button {
    background-color: black;
    position: absolute;
    left: 7.5%;
    bottom: 20px;
 }

.support {
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
    height: 250px;
    position: relative;
}

.support {
    padding-top: 20px;
}

.support h2 {
    margin-left: 7.5%;
    padding-bottom: 30px;
}

.support p {
    display: block;
    float: left;
    width: 43%;
    margin-left: 7.5%;
}
.support img {
    width: 23%;
    display: block;
    float: right;
    position: relative;
    margin-right: 7.5%;
    border: 3px solid black;
}

.support button{
    margin-left: 7.5%;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 20px;
}

main .explore-main img {
    width: 100%;
    height: 600px;
}

main .explore-main {
    background-color: #262626;
    color: white;
}

main .explore-main h1{
    margin-left: 7.5%;
    padding-top: 30px;
    padding-bottom: 40px;
} 

main .explore-main p {
    margin-left: 7.5%;
    padding-bottom: 40px;
    width: 70%;
}

main .explore-main button {
    background-color: #9D4B00;
    margin-bottom: 40px;
    margin-left: 7.5%;
}

aside .explore-white img {
    width: 85%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: ;
}

aside .explore-white h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 7.5%;
}


aside .explore-white p {
    margin-left: 7.5%;
    width: 80%;
    margin-bottom: 20px;
} 


aside .explore-white button {
    margin-left: 7.5%;
    background-color: black ;
    margin-bottom: 50px;
}

aside .explore-orange {
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
    padding-top: 30px;
}

aside .explore-orange img  {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    margin-top: 50px;
    display: block;
}

aside .explore-orange h2 {
    margin-left: 7.5%;
    margin-top: 40px;
    margin-bottom: 30px;
}

aside .explore-orange p {
    margin-left: 7.5%;
    width: 80%;
    margin-bottom: 20px;
}

aside .explore-orange button {
    margin-left: 7.5%;
    background-color: black;
    margin-bottom: 50px;
}

main .main-visit img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

main .main-visit h1 {
    text-align: center;
    padding: 20px;
}

main .visit-orange {
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
}

main .visit-orange h2 {
    padding-top: 20px;
}

main .visit-orange h2, h3, p {
    margin-left: 7.5%;
    margin-bottom: 25px;
    margin-right: auto;
    width: 80%;
}

main .visit-orange button {
    margin-left: 7.5%;
    margin-bottom: 30px;
    background-color: black;
}

main .visit-orange h2, h3 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tid {
    width: 38%;
}

.main-exhibiton h1 {
    text-align: center;
    padding: 30px;
}

.main-exhibiton img {
    width: 86%;
    display: block;
}


.main-exhibiton h2 {
    margin-left: 7.5%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.main-exhibiton button {
    margin-left: 7.5%;
    background-color: black;
    margin-bottom: 50px;
}


.load button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
    border-radius: 0;
    padding: 11px;
    text-align: center;
    margin-bottom: 50px;
    display: block;
}



footer{
    background-color: #262626 ;
    color: white;
    height: 400px;
}

footer h3 {
    padding-top: 20px;
    margin-left: 7.5%;
}

footer p {
    display: block;
    float: left;
    width: 43%;
    margin-left: 7.5%;
    padding-top: 20px;
}
 footer .location {
    display: block;
    float: right;
    width: 35%;
    margin-right: 7.5%;
 }

 footer button {
     color: black;
 }

 footer .foot-flex {
    display: flex;
    position: relative;
    right: 190px;
    top: 100px;
 }

 footer .foot-some {
    margin-left: 70px;
 }

 @media only screen and (min-width: 860px) {
     #buggi {
         display: none;
     }

     nav .hamenu {
        display: flex;
        margin-left: 20px;
    }

    .sideomside {
        display: flex;
    }



    section .black-back {
        padding-bottom: 90px;
    }

    .black-back,
    .white-back {
        width: 50%;
        margin-top:0;
        height: 600px;
        margin-bottom: 0;

    }

    .black-back img,
    .white-back img {
        width: 359px;
        height: 249px;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        justify-content: space-around;
        margin-left: 20px;
        
    }

    .black-back img {
        margin-top: 20px;
    }

    .white-back img {
        margin-left: 55px;
    }

    .black-back h2,
    .white-back h2 {
        margin-left: 55px;
    }

    .black-back p,
    .white-back p {
        margin-left: 55px;
    }

    .black-back button,
    .white-back button {
        margin-left: 55px;
    }

    .visit h2 {
        margin-left: 55px;
        font-size: 2rem;
    }

    .visit p {
        width: 18%;
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-left: 55px;
    }

    .visit {
        padding-bottom: 26px;
        height: 350px;
        padding-top: 20px;
    }

    .visit img {
        margin-right: 120px;
        width: 386px;
    }

    .visit button {
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .support {
        padding-top: 100px;
    }

    .support h2 {
        font-size: 2rem;
        margin-left: 55px;
    }

    .support img {
        width: 277px;
        bottom: 130px;
        right: 120px;
    }

    .support p {
        font-size: 1.2rem;
        margin-left: 55px;   
    }
    
    .support button {
        margin-left: 55px;
    }
 
   
    .explore-main img { 
        object-fit: cover ;
    }
    
    .explore-main p {
        font-size: 1.5rem;
    }

    .explore-white img {
        
    }
    
    aside .explore-orange {
        padding-top: 45px;
    }

    aside .explore-orange img {
        height: 500px;
        margin-top: 3px;
        
    }
    

    footer .location {
    }

    .foot-flex {

    }

    footer p {
      
    }
 }

 
