* {
    margin: 0%;
    margin: auto;
    max-width: 1200px;
}

.hero-image  {
    height: 490px;
    width: 100%;
    object-fit: cover;
}

main div {
    position: relative;
}

main h1 {
    width: 30px;
    margin-left: 30px;
    bottom: 300px;
    position: absolute;
}

header {
    background-color: #F4F4F4;
    border: 1px solid rgba(0, 0, 0, 0.55);
}

.header img {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
}

header #buggi {
    font-size: 36px;
    position: absolute;
    top: 30px;
    left: 20px;
}

#search {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 36px;
}

nav .hamenu {
    display: none;
}

#hamburger {
    display: none;
}


#hamburger:checked ~ nav .hamenu {
    display: block;
}

nav .hamenu li {
    background-color: #F4F4F4;
    padding: 5px;
    font-size: 2rem;
    margin-left: 20px;
}


nav .hamenu li a {
    text-decoration: none;
    color: black;
    background-color: #F4F4F4;
}

header .hamenu {
    list-style-type: none;
    background-color: #F4F4F4;
}

.black-back {
    background: #262626;
    height: 420px;
    margin: none;
    position: relative;
}

.black-back img {
    width: 175px;
    height: 139px;
    border: 3px solid #000000;
    position: relative;
    box-sizing: border-box;
    top: 39px; 
    left: 35px;
}

.black-back h2 {
    color: white;
    margin-top: 55px;
    margin-left: 35px;
}

.black-back p {
    margin-top: 25px;
    width: 290px;
    color: white;
    margin-left: 35PX;
    max-width: 78%;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 160px;
    color: white;
    margin-top: 30px;
}

.black-back button {
    background-color: #9D4B00;
    margin-top: 30px;
    margin-left: 35px;
}

.white-back img {
    width: 85%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.white-back h2,
.white-back p {
    margin-top: 20px;
    margin-left: 35px;
    max-width: 78%;
}

.white-back button {
    background-color: black;
    margin-left: 35PX;

}

.visit{
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
    height: 250px;
    position: relative;
}

.visit h2 {
    margin-left: 35px;
    margin-top: 20px;
    padding-top: 20px;
}

.visit p {
    float: left;
    display: block;
    padding-top: 10px;
    margin-left: 35px;
    max-width: 180px;
    padding-top: 20px;
}

.visit img {
    display: block;
    float: right;
    width: 165px;
    position: relative;
    margin-right: 35px;
    border: 3px solid black;
}
 .visit button {
    background-color: black;
    position: absolute;
    left: 35px;
    bottom: 20px;
 }

.support {
    background-color: rgba(157, 75, 0, 0.7);
    color: white;
    height: 250px;
    position: relative;
}

.support {
    padding-top: 20px;
}

.support h2 {
    margin-left: 35px;
    padding-bottom: 30px;
}

.support p {
    display: block;
    float: left;
    max-width: 220px;
    margin-left: 35px;
}
.support img {
    width: 50%;
    display: block;
    float: right;
    max-width: 135px;
    position: relative;
    margin-right: 35px;
    border: 3px solid black;
}

.support button{
    margin-left: 35px;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 20px;
}

